mailgen creates email without orig-date header

The "Date:" (aka. orig-date field) header is not only extremely useful, but also required according to RFC 5322 section 3.6.  "Field Definitions". 

But currently this header is missing from mails generated by mailgen.  Mailgen should add this header, with the current time/date from the moment the mail was generated.  For further semantics see the RfC.

Given that we intent to use a smarthost, the smarthost will usually add the Date: Header.
E.g. http://www.postfix.org/postconf.5.html option always_add_missing_headers which has the description, which mentioned that "when clients match the local_header_rewrite_clients parameter setting" is the default. nullmailer-inject also does it.

As mailgen does not implement queueing itself, but uses the smarthost, it makes sense to let the 
Date: be set by the smarthost. So implementing this with mailgen itself maybe a little plus. (We then should also file this as an improvement to the python3 email package examples).

Delegating the creation of the Date header conflicts with the
semantics of the Header, from the RfC:

   The origination date specifies the date and time at which the creator
   of the message indicated that the message was complete and ready to
   enter the mail delivery system.
 [...]
   In any case, it is specifically not intended to convey the
   time that the message is actually transported, but rather the time at
   which the human or other creator of the message has put the message
   into its final form, ready for transport.


@swilde I've read the RFC as well and restate my interpretation """As mailgen does not implement queueing itself, but uses the smarthost, it makes sense to let the Date: be set by the smarthost."""
with a slight variation: it would be okay to leave it to the smarthost.